{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="inner blog-index">
    <h1>{{self.title}}</h1>
    <ul class="list-unstyled the-loop posts">
        {% for post in posts %}
        <li class="{% if forloop.first %} first-reset{% endif %}">
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {% image post.cover_image width-1180 as cover %}
        <img src="{{ cover.url }}" title="{{ cover.alt }}" alt="{{ cover.alt }}" class="img-responsive"/>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
