{% raw %}{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n static %}

{% block content %}
    {% if page.cover_image %}
    <div class="container cover">
        <div class="card">
            <div class="caption">
                <h1 class="title">{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</h1>
                {% if self.search_description %}
                <hr>
                <p class="lead">{{ self.search_description }}</p>
                {% endif %}
            </div>
        </div>

        {% image page.cover_image fill-1180x664 as cover %}
        <div class="overflow fill">
            <img src="{{ cover.url }}" title="{{ cover.alt }}" alt="{{ cover.alt }}" class="img-responsive"/>
        </div>
    </div>
    {% endif %}
    <div class="container white inner">
        {% include "basic/includes/streamfield.html" with content=self.body %}

        {% include "blog/elements/carousel.html" with carousel_items=self.carousel_items.all only %}

        {% include "basic/elements/carousel.html" with carousel_items=self.carousel_items.all only %}

        {% if form.as_p %}
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        {% endif %}
    </div>
{% endblock %}{% endraw %}
